Repository python/peps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

check-required-headers:
  name: PEPs must have all required headers
  language: pygrep
  entry: (?-m:^PEP:(?=[\s\S]*\nTitle:)(?=[\s\S]*\nAuthor:)(?=[\s\S]*\nStatus:)(?=[\s\S]*\nType:)(?=[\s\S]*\nCreated:))
  args:
  - --negate
  - --multiline

check-header-order:
  name: PEP header order must follow PEP 12
  language: pygrep
  ...

validate-pep-number:
  name: '''PEP'' header must be a number 1-9999'
  language: pygrep
  entry: (?-m:^PEP:(?:(?! +(0|[1-9][0-9]{0,3})\n)))
  args:
  - --multiline

validate-title:
  name: '''Title'' must be 1-79 characters'
  language: pygrep
  entry: (?<=\n)Title:(?:(?! +\S.{1,78}\n(?=[A-Z])))
  args:
  - --multiline

validate-author:
  name: '''Author'' must be list of ''Name <email@example.com>, ...'''
  language: pygrep
  entry: (?<=\n)Author:(?:(?!((( +|\n {1,8})[^!#$%&()*+,/:;<=>?@\[\\\]\^_`{|}~]+( <[\w!#$%&'*+\-/=?^_{|}~.]+(@| at )[\w\-.]+\.[A-Za-z0-9]+>)?)(,|(?=\n[^ ])))+\n(?=[A-Z])))
  args:
  - --multiline

validate-sponsor:
  name: '''Sponsor'' must have format ''Name <email@example.com>'''
  language: pygrep
  entry: '^Sponsor:(?: (?! *[^!#$%&()*+,/:;<=>?@\[\\\]\^_`{|}~]+( <[\w!#$%&''*+\-/=?^_{|}~.]+(@| at )[\w\-.]+\.[A-Za-z0-9]+>)?$))'

validate-delegate:
  name: '''Delegate'' must have format ''Name <email@example.com>'''
  language: pygrep
  entry: '^(PEP|BDFL)-Delegate: (?:(?! *[^!#$%&()*+,/:;<=>?@\[\\\]\^_`{|}~]+( <[\w!#$%&''*+\-/=?^_{|}~.]+(@| at )[\w\-.]+\.[A-Za-z0-9]+>)?$))'

validate-discussions-to:
  name: '''Discussions-To'' must be a thread URL'
  language: pygrep
  ...

validate-status:
  name: '''Status'' must be a valid PEP status'
  language: pygrep
  entry: ^Status:(?:(?! +(Draft|Withdrawn|Rejected|Accepted|Final|Active|Provisional|Deferred|Superseded|April Fool!)$))

validate-type:
  name: '''Type'' must be a valid PEP type'
  language: pygrep
  entry: ^Type:(?:(?! +(Standards Track|Informational|Process)$))

validate-topic:
  name: '''Topic'' must be for a valid sub-index'
  language: pygrep
  entry: ^Topic:(?:(?! +(Governance|Packaging|Typing|Release)(, (Governance|Packaging|Typing|Release))*$))

validate-content-type:
  name: '''Content-Type'' must be ''text/x-rst'''
  language: pygrep
  entry: ^Content-Type:(?:(?! +text/x-rst$))

validate-pep-references:
  name: '`Requires`/`Replaces`/`Superseded-By` must be ''NNN'' PEP IDs'
  language: pygrep
  entry: ^(Requires|Replaces|Superseded-By):(?:(?! *( (0|[1-9][0-9]{0,3})(,|$))+$))

validate-created:
  name: '''Created'' must be a ''DD-mmm-YYYY'' date'
  language: pygrep
  entry: ^Created:(?:(?! +([0-2][0-9]|(3[01]))-(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)-(199[0-9]|20[0-9][0-9])$))

validate-python-version:
  name: '''Python-Version'' must be a ''X.Y[.Z]` version'
  language: pygrep
  entry: ^Python-Version:(?:(?! *( [1-9]\.([0-9][0-9]?|x)(\.[1-9][0-9]?)?(,|$))+$))

validate-post-history:
  name: '''Post-History'' must be ''`DD-mmm-YYYY <Thread URL>`__, ...'''
  language: pygrep
  ...

{Template,Interpolation}.__init__ --> __new__
  peps/pep-0750.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Move statement about `tb` prefix to rejected ideas.
  peps/pep-0750.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add doccomments to template properties
  peps/pep-0750.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Make whitespace clear in debug spec
  peps/pep-0750.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add PEP about default in attrgetter and itemgetter.
  .github/CODEOWNERS
  peps/pep-0790.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Made changes in README
  README.rst
Due: check-direct-rfc-links

Include `__init_subclass__`
  peps/pep-0767.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Wrapped lines.
  peps/pep-0790.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Fixed date format and a title underlining.
  peps/pep-0790.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Changed PEP number.
  peps/pep-0769.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Typo
  peps/pep-0767.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Changes as per review.
  .github/CODEOWNERS
  peps/pep-0769.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Infra: switch 3.13-dev to 3.14-dev
  .github/workflows/render.yml
Due: none

Add 404 page
  .github/workflows/render.yml
  peps/conf.py
  requirements.txt
Due: none

Infra: switch 3.13-dev to 3.14-dev (#4183)
  .github/workflows/render.yml
Due: none

Move 404 page in Makefile
  .github/workflows/render.yml
  Makefile
Due: none

Move 404 page in Makefile
  Makefile
Due: none

Require version with notfound_urls_prefix
  requirements.txt
Due: none

Infra: Add nicer 404 page (#4184)
  Makefile
  peps/conf.py
  requirements.txt
Due: none

Infra: Remove contents and source link from 404
  pep_sphinx_extensions/pep_theme/templates/page.html
Due: none

Create msbuild.yml
  .github/workflows/msbuild.yml
Due: none

PEP 770: Improving measurability of Python packages with Software Bill-of-Materials
  peps/pep-770.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add codeowners
  .github/CODEOWNERS
Due: none

Infra: Remove "Contents" and source link from 404 (#4185)
  pep_sphinx_extensions/pep_theme/templates/page.html
Due: none

Apply suggestions from code review
  peps/pep-770.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add 0 prefix to filename
  peps/pep-0770.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

!
  peps/pep-0770.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Fixed internal links.
  peps/pep-0769.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 728: Fix code block syntax
  peps/pep-0728.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 728: Fix code block syntax (#4188)
  peps/pep-0728.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 770: Improving measurability of Python packages with Software Bill-of-Materials (#4187)
  .github/CODEOWNERS
  peps/pep-0770.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 770: Add discussion link
  peps/pep-0770.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Fix lint and header order
  peps/pep-0770.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 770: Add Post-History (#4189)
  peps/pep-0770.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 694: Updates (#3997)
  .github/CODEOWNERS
  peps/pep-0694.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Fix some links
  peps/pep-0694.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Fixed some external links in the RST (#4190)
  peps/pep-0694.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 769: Add a 'default' keyword argument to 'attrgetter' and 'itemgetter' (#4179)
  .github/CODEOWNERS
  peps/pep-0769.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Path conditions:
  check-required-headers: any of: ^peps/pep-\d+\.rst$
  check-header-order: any of: ^peps/pep-\d+\.rst$
  validate-pep-number: any of: ^peps/pep-\d+\.rst$
  validate-title: any of: ^peps/pep-\d+\.rst$, but not: ^peps/pep-(0499)\.rst$
  validate-author: any of: ^peps/pep-\d+\.rst$
  validate-sponsor: any of: ^peps/pep-\d+\.rst$
  validate-delegate: any of: ^peps/pep-\d+\.rst$, but not: ^peps/pep-(0451)\.rst$
  validate-discussions-to: any of: ^peps/pep-\d+\.rst$
  validate-status: any of: ^peps/pep-\d+\.rst$
  validate-type: any of: ^peps/pep-\d+\.rst$
  validate-topic: any of: ^peps/pep-\d+\.rst$
  validate-content-type: any of: ^peps/pep-\d+\.rst$
  validate-pep-references: any of: ^peps/pep-\d+\.rst$
  validate-created: any of: ^peps/pep-\d+\.rst$
  validate-python-version: any of: ^peps/pep-\d+\.rst$
  validate-post-history: any of: ^peps/pep-\d+\.rst$
  validate-resolution: any of: ^peps/pep-\d+\.rst$
  check-direct-pep-links: any of: ^peps/pep-\d+\.rst$, but not: ^peps/pep-(0009|0287|0676|0684|8001)\.rst$
  check-direct-rfc-links: any of: \.rst$
