Repository python/peps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Path conditions:
  check-required-headers: any of: ^peps/pep-\d+\.rst$
  check-header-order: any of: ^peps/pep-\d+\.rst$
  validate-pep-number: any of: ^peps/pep-\d+\.rst$
  validate-title: any of: ^peps/pep-\d+\.rst$, but not: ^peps/pep-(0499)\.rst$
  validate-author: any of: ^peps/pep-\d+\.rst$
  validate-sponsor: any of: ^peps/pep-\d+\.rst$
  validate-delegate: any of: ^peps/pep-\d+\.rst$, but not: ^peps/pep-(0451)\.rst$
  validate-discussions-to: any of: ^peps/pep-\d+\.rst$
  validate-status: any of: ^peps/pep-\d+\.rst$
  validate-type: any of: ^peps/pep-\d+\.rst$
  validate-topic: any of: ^peps/pep-\d+\.rst$
  validate-content-type: any of: ^peps/pep-\d+\.rst$
  validate-pep-references: any of: ^peps/pep-\d+\.rst$
  validate-created: any of: ^peps/pep-\d+\.rst$
  validate-python-version: any of: ^peps/pep-\d+\.rst$
  validate-post-history: any of: ^peps/pep-\d+\.rst$
  validate-resolution: any of: ^peps/pep-\d+\.rst$
  check-direct-pep-links: any of: ^peps/pep-\d+\.rst$, but not: ^peps/pep-(0009|0287|0676|0684|8001)\.rst$
  check-direct-rfc-links: any of: \.rst$

Address comments from Brandt
  .github/CODEOWNERS
  peps/pep-0744.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

fix indentation
  peps/pep-0744.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update pep-0744.rst
  peps/pep-0744.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Don't mark tool as code.
  peps/pep-0750.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Mark code as such
  peps/pep-0750.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 101: Remove outdated info
  peps/pep-0101.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 101: Update make command for running tests
  peps/pep-0101.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 101: Replace '#python-dev and/or python-committers' with 'Discord and/or Discourse
  peps/pep-0101.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 101: Add Hugo as 3.14 RM
  .github/CODEOWNERS
  peps/pep-0101.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 101: Add to PSRT
  peps/pep-0101.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Document the PEPs API
  peps/conf.py
  peps/contents.rst
Due: check-direct-rfc-links

Format conf.py with Black
  .pre-commit-config.yaml
  peps/conf.py
Due: none

fixup! Document the PEPs API
  peps/contents.rst
Due: check-direct-rfc-links

fixup! Document the PEPs API
  pep_sphinx_extensions/pep_zero_generator/writer.py
  peps/api/index.rst
Due: check-direct-rfc-links

Revert "fixup! Document the PEPs API"
  peps/contents.rst
Due: check-direct-rfc-links

Use PEPs 8, 484 and 622 as representative examples
  peps/api/index.rst
Due: check-direct-rfc-links

PEP 101: Remove outdated info and add new info (#3863)
  .github/CODEOWNERS
  peps/pep-0101.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Use 3.13 signature for eval spec
  peps/pep-0667.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 11: Add Russell as an iOS contact
  peps/pep-0011.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add a pseudo-schema
  peps/api/index.rst
Due: check-direct-rfc-links

Add missing bracket, fix typo
  peps/api/index.rst
Due: check-direct-rfc-links

Mark pseudo-JSON as JavaScript so it can be parsed by Sphinx
  peps/api/index.rst
Due: check-direct-rfc-links

PEP 11: Add Russell as an iOS contact (#3865)
  peps/pep-0011.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Do not start f-string at the beginning of the sentence.
  peps/pep-0750.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Lambda-wrapped expressions use class scope
  peps/pep-0750.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Meta: Document the PEPs API (#3864)
  .pre-commit-config.yaml
  pep_sphinx_extensions/pep_zero_generator/writer.py
  peps/api/index.rst
  peps/conf.py
  peps/contents.rst
Due: check-direct-rfc-links

Change the deprecation policy around classifiers
  peps/pep-0639.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Cover all rejected subkeysideas in one paragraph
  peps/pep-0639/appendix-rejected-ideas.rst
Due: check-direct-rfc-links

Remove the requirement of license-files defaults
  peps/pep-0639.rst
  peps/pep-0639/appendix-rejected-ideas.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Lambda-wrapped expressions use annotation scope
  peps/pep-0750.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Clarify use of annotation scope
  peps/pep-0750.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update PEP 719 for today's release of 3.13.0b4.
  peps/pep-0719.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 719: Update for today's release of 3.13.0b4 (#3868)
  peps/pep-0719.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 740: resolution URL
  peps/pep-0740.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update peps/pep-0740.rst
  peps/pep-0740.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 740: Mark as Provisional (#3848)
  peps/pep-0740.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Flatten the value of the license-files key, only globs are specified
  peps/pep-0639.rst
  peps/pep-0639/appendix-examples.rst
Due: check-required-headers, check-header-order, validate-pep-number, validate-title, validate-author, validate-sponsor, validate-delegate, validate-discussions-to, validate-status, validate-type, validate-topic, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-post-history, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update the Rejected ideas to match the current license-files proposal
  peps/pep-0639/appendix-rejected-ideas.rst
Due: check-direct-rfc-links
